<head>
  <title>Project Aletheia</title>
  <link rel="shortcut icon" type="image/x-icon" href="/public/images/favicon.ico" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
  <link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
  <script src="https://use.fontawesome.com/388845ead7.js"></script>
  <script src="/javascripts/angularApp.js"></script>
  <script src="/javascripts/services/authService.js"></script>
  <script src="/javascripts/services/postsService.js"></script>
  <script src="/javascripts/services/schoolsService.js"></script>
  <script src="/javascripts/controllers/authControl.js"></script>
  <script src="/javascripts/controllers/mainControl.js"></script>
  <script src="/javascripts/controllers/navControl.js"></script>
  <script src="/javascripts/controllers/schoolsControl.js"></script>
  <script src="/javascripts/controllers/postsControl.js"></script>
  <script src="/javascripts/states.js"></script>
  <link type="text/css" rel="stylesheet" href="/stylesheets/style.css"/>
</head>
