<html>

  <% include header.ejs %>

  <body ng-app = "altheia" ng-controller="MainCtrl">

    <nav id="mainNav" ng-controller="NavCtrl" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand page-scroll" href="#page-top">Aletheia</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
                  <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
                  <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
                  <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <ui-view></ui-view>

    <div class = "container-fluid">
      <hr style = "border-top: .75px solid #A9A9A9;">
      <h4 class = "credits"> Project Aletheia, &copy; 2017 by Cait Powell </h4>
      <div class="text-center">
        <a href = "https://www.linkedin.com/in/cait-powell"
          <i class="fa fa-linkedin-square" style="font-size:24px; padding-right: 5px;"></i>
        </a>
        <a href = "https://github.com/cepowell">
          <i class="fa fa-github" style="font-size:24px; padding-left: 5px;"></i>
        </a>
      </div>
      <br>
    </div>

<!-- ********************************************** HOME ********************************************** -->
    <script type = "text/ng-template" id="/home.html">
      <header>
          <div class="header-content">
              <div class="header-content-inner">
                  <br>
                  <br>
                  <h1>Project Aletheia</h1>
                  <hr>
                  <br>
                  <br>
                  <br>
              </div>
          </div>
      </header>

      <div class = "about">
        <div class = "container-fluid">
          <h3 class = "school-heading"> How Project Aletheia Works </h3>

          <br>
          <div class = "text-center">
            <div class = "row">
              <div class = "col-sm-4">
                  <i class="fa fa-search" style="font-size:70px; padding-bottom: 5px;"></i>
                  <br>
                  <span class = "about-aletheia-text">
                    Find or add your college
                    <br>
                    or university in our database.
                  </span>
              </div>
              <div class = "col-sm-4">
                  <i class="fa fa-comments-o" style="font-size:70px; padding-bottom: 5px;"></i>
                  <br>
                  <span class = "about-aletheia-text">
                    Get support from fellow students
                    <br>
                    at your school about the on-campus
                    <br>
                    sexual assault reporting
                    <br>
                    and adjudicating process.
                  </span>
              </div>
              <div class = "col-sm-4">
                  <i class="fa fa-bullhorn" style="font-size:70px; padding-bottom: 5px;"></i>
                  <br>
                  <span class = "about-aletheia-text">
                    Share your assault story
                    <br>
                    with other survivors
                    <br>
                    and take ownership of your experience.
                  </span>
              </div>
            </div>
            <br>
            <br>
            <span style = "font-style: italic;">
              If you are currently in crisis and need support immediately:
            </span>
            <br>
            <a href = "https://www.rainn.org/" class = "hotline"> National Sexual Assault Hotline and Online Chat </a>
          </div>
        </div>
      </div>

      <div class = "school-list">
        <div class = "container-fluid">
          <h3 class = "school-heading"> Schools </h3>
          <br>
          <div class="text-center">
            <div class="dropdown dropdown-center" style = "margin-left: auto; margin-right: auto;">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Find Your School
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                  <li ng-repeat="school in schools"><a href="#/schools/{{school._id}}">{{school.name}}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class = "add-school">
        <div class = "container-fluid">
          <h3 class = "school-heading"> Add Your School </h3>
          <br>
          <form ng-submit="addSchool()" ng-show="isLoggedIn()" class = "add-school-form">
            <div class = "form-group">
              <input type="text" placeholder = "Name" class = "form-control" ng-model = "name"></input>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Add</button>
          </form>
          <div ng-hide="isLoggedIn()">
            <div class = "login-reminder">
              You need to <a href="/#/login" class = "login-reminder-link">Log In</a> or <a href="/#/register" class = "login-reminder-link">Register</a> before you can add a school.
            </div>
          </div>
        </div>
      </div>

    </script>
<!-- ******************************************************************************************** -->

<!-- ********************************************** SCHOOL ********************************************** -->
    <script type="text/ng-template" id="/schools.html">
      <div class = "school-banner">
        <div class = "container-fluid">
          <h1 class = "school-name">
            {{school.name}}
          </h1>
        </div>
      </div>

      <div class = "container-fluid">
        <br>
        <ul class="nav nav-pills nav-justified">
          <li class="active"><a data-toggle="pill" data-target="#overview" class = "tab-title">Overview</a></li>
          <li><a data-toggle="pill" data-target="#discussion" class = "tab-title">Discussion</a></li>
          <li><a data-toggle="pill" data-target="#story" class = "tab-title">Tell Your Story</a></li>
        </ul>
      </div>

      <div class="tab-content">

        <!-- ************************ OVERVIEW ************************ -->
        <div id="overview" class="tab-pane fade in active">

          <div class = "section-one">
            <div style = "margin: 0 auto; display: table;">
              <p class = "tally-text">
                Total Reported Assaults
              </p>
              <p class = "tally-number">
                {{school.tally}}
              </p>
              <br>

              <div style = "padding-left: 35px;" ng-show = "isLoggedIn()">
                <div class="text-center">
                  <i class="fa fa-plus-circle add-icon" ng-click="incrementTally(school)"></i>
                  <br>
                  <span class = "add-assault"> Add Your Assault </span>
                </div>
              </div>
            </div>
          </div>

          <div class = "section-two">
            <br>
            <br>
            <div style = "margin: 0 auto; display: table;">
              <p class = "link-header">
                Reference Material
              </p>
            </div>

            <div style = "margin: 0 auto; display: table;">

              <p>
                Do you have links to official campus resources for reporting or adjudicating sexual assault? You can add them here.
              </p>
              <div ng-repeat="link in school.links track by $index">
                <a href = "{{link}}" style = "padding-left: 10px;">{{link}}</a>
              </div>

              <div class = "text-center">
                <form ng-submit="addLink()" ng-show="isLoggedIn">
                  <br>
                  <div class = "form-group">
                    <input type="text" placeholder = "Link" class = "form-control" ng-model = "link"></input>
                    <br>
                    <button type="submit" class="btn btn-primary">Add Link</button>
                  </div>
                </form>
                <div ng-hide="isLoggedIn()" class = "login-reminder">
                  You need to <a href="/#/login" class = "login-reminder-link">Log In</a> or <a href="/#/register" class = "login-reminder-link">Register</a> before you can add a post.
                </div>
              </div>
              <br>

            </div>
          </div>

        </div>

        <!-- ************************ DISCUSSION ************************ -->
        <div id="discussion" class="tab-pane fade">

          <div class = "container-fluid">
            <br>
            <br>

            <div class="text-center" ng-show = "isLoggedIn()">
              <button class="btn btn-primary" ng-click = "showCompose = !showCompose">
                <span class = "compose"> Compose </span>
                <i class="fa fa-pencil-square-o compose-pencil" ng-click="incrementPostUpvotes(post)"></i>
              </button>
            </div>

            <br>

            <form ng-submit="addPost()" ng-show="isLoggedIn() && showCompose" class = "add-post">
              <br>
              <div class = "form-group">
                <input type="text" placeholder = "Title" class = "form-control" ng-model = "title"></input>
              </div>
              <br>
              <div class = "form-group">
                <textarea class = "form-control" rows = "10" ng-model = "body"></textarea>
              </div>
              <br>
              <button type="submit" class="btn btn-primary">Post</button>
            </form>

            <div ng-hide="isLoggedIn()" class = "login-reminder">
              You need to <a href="/#/login" class = "login-reminder-link">Log In</a> or <a href="/#/register" class = "login-reminder-link">Register</a> before you can add a post.
            </div>

            <div ng-show = "{{school.posts.length}} == 0">
              <div class="text-center">
                <h4> There are no posts under this school yet. </h4>
              </div>
            </div>

            <div class="text-center" ng-hide = "{{school.posts.length}} == 0">
              <input class = "search-bar" type="search" ng-model="filters.search" placeholder="Search...">
              <span ng-show = "isLoggedIn()" style = "padding-left: 15px;">
                <input type="checkbox" ng-model="filters.x" ng-change="actions.showMyPosts()"/>
                Show Only My Posts
              </span>
            </div>

            <div ng-repeat="post in school.posts | filter:filters.search | filter:{author: filters.author}">

              <!-- Post collapsed -->
              <div class = "post" ng-show = "!showDetails">
                <i class="fa fa-angle-right arrow" ng-click = "showDetails = !showDetails" style="font-size:24px; padding-right: 5px; padding-top: 3px;"></i>
                <span class = "post-header"> {{post.title}} </span>
                <br>
                <span class = "post-author"> posted by {{post.author}} </span>
                <br>
                <span class = "upvote-counter">
                  <span ng-show = "isLoggedIn()">
                    <i class="fa fa-thumbs-up thumbs-up" ng-click="incrementPostUpvotes(post)"></i>
                    Upvote
                  </span>
                  <span ng-hide = "isLoggedIn()">
                    Number of upvotes:
                  </span>
                  <span class="badge"> {{post.upvotes}} </span>
                </span>
              </div>
              <!-- ************ -->

              <!-- Post expanded -->
              <div class = "post" ng-show = "showDetails">
                <i class="fa fa-angle-down arrow" ng-click = "showDetails = !showDetails" style="font-size:24px; padding-right: 5px; padding-top: 3px;"></i>
                <span class = "post-header"> {{post.title}} </span>
                <br>
                <span class = "post-author"> posted by {{post.author}} </span>
                <br>
                <span class = "upvote-counter">
                  <span ng-show = "isLoggedIn()">
                    <i class="fa fa-thumbs-up thumbs-up" ng-click="incrementPostUpvotes(post)"></i>
                    Upvote
                  </span>
                  <span ng-hide = "isLoggedIn()">
                    Number of upvotes:
                  </span>
                  <span class="badge"> {{post.upvotes}} </span>
                  <span ng-show = "isLoggedIn() && ownershipCheck(post)">
                    <i class =  "fa fa-trash delete" ng-click = "deletePost(post)"></i>
                  <span>
                </span>
              </div>

              <div class = "post-expanded" ng-show = "showDetails">
                <a class = "post-body">
                  {{post.body}}
                </a>
                <br>
                <span class = "created">
                  created at {{post.created}}
                </span>
                <br>
                <a class = "number-comments" ng-click = "showComments = !showComments">
                  {{post.comments.length}} comments
                </a>

                <!-- Comments expanded -->
                <div ng-show = "showComments">

                  <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
                    <br>
                    <span class = "show-comment">
                      {{comment.body}}
                    </span>
                    <br>
                    <span class = "comment-author">
                      posted by {{comment.author}}
                    </span>
                    <br>
                    <span class = "created">
                      created at {{comment.created}}
                    </span>
                    <span ng-show = "isLoggedIn() && ownershipCheck(post)">
                      <i class =  "fa fa-trash delete" ng-click = "deleteComment(post, comment)"></i>
                    </span>
                  </div>

                  <div class="text-center">
                    <form ng-submit="addComment(post)" ng-show="isLoggedIn()" style="margin-top:30px;">
                      <span class = "add-comment-title">
                        Add a New Comment
                      </span>

                      <div class="form-group add-comment">
                        <textarea class = "form-control" rows = "5" ng-model = "school.post.body"></textarea>
                        <!--<input type="text" class="form-control" placeholder="Comment" ng-model="school.post.body"></input>-->
                      </div>
                      <button type="submit" class="btn btn-primary">Post</button>
                    </form>
                  </div>

                </div>
              </div>
              <!-- ************ -->

            </div>
          </div>
        </div>

        <!-- ************************ STORY ************************ -->
        <div id="story" class="tab-pane fade">
        </div>

      </div>

    </script>

<!-- ********************************************** REGISTER ********************************************** -->
    <script type="text/ng-template" id="/register.html">

      <div class = "register-background">
        <div class = "container-fluid">
          <br>
          <br>
          <br>
          <br>

          <div ng-show="error" class="alert alert-danger row">
            <span>{{ error.message }}</span>
          </div>

          <h3 class = "register-heading">Register</h3>

          <div class = "register-box">
            <div class = "register-form">
              <form ng-submit="register()" style="margin-top:30px;">
                <div class = "text-center">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" ng-model="user.username"></input>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" ng-model="user.password"></input>
                  </div>
                  <input type="checkbox" name="checkbox" value="check" ng-model = "agreement" required /> I have read and agree to the <span class = "terms" data-toggle = "collapse" data-target="#terms">Terms and Conditions</span>
                  <div id="terms" class="collapse">
                    <br>
                    By using this service, I acknowledge that it is my responsibility to follow any instructions
                    regarding confidentiality as given to me by officials at my college or university.
                    I agree not to discuss confidential information regarding specific ongoing Title IX investigations
                    of which I am a part.
                    <br>
                  </div>
                  <br>
                  <br>
                  <button type="submit" class="btn btn-primary">Register</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </script>
<!-- ******************************************************************************************** -->

<!-- ********************************************** LOGIN ********************************************** -->
    <script type="text/ng-template" id="/login.html">
      <div class = "login-background">
        <div class = "container-fluid">
          <br>
          <br>
          <br>
          <br>

          <div ng-show="error" class="alert alert-danger row">
            <span>{{ error.message }}</span>
          </div>

          <h3 class = "login-heading">Log In</h3>

          <div class = "login-box">
            <div class = "login-form">
              <form ng-submit="logIn()" style="margin-top:30px;">
                <div class = "text-center">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" ng-model="user.username"></input>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" ng-model="user.password"></input>
                  </div>
                  <button type="submit" class="btn btn-primary">Log In</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </script>
<!-- ******************************************************************************************** -->
<script>
$('#mainNav').affix({
    offset: {
        top: 100
    }
})
</script>
  </body>
</html>
