html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
}

.post-title {
  font-size: 20px;
  margin-left: 10px;
}

.post-body {
  font-size: 13px;
  margin-left: 10px;
}

.addPost {
  margin-top: 30px;
}
