/******************** BASICS ********************/

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Raleway', sans-serif;
}

.nav a {
    cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/******************** NAV BAR ********************/

.navbar-default {
  background-color: white;
  opacity: 0.85;
  border-color: rgba(34, 34, 34, 0.05);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.navbar-default .navbar-header .navbar-brand {
  color: #1e496d;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #eb3812;
}
.navbar-default .navbar-header .navbar-toggle {
  font-weight: 700;
  font-size: 12px;
  color: #222222;
  text-transform: uppercase;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: #222222;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #1e496d;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #1e496d !important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.3);
  }
  .navbar-default .navbar-header .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: white;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: white;
  }
  .navbar-default.affix {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.05);
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    color: #1e496d;
    font-size: 18px;
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #70a1cc;
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #222222;
  }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: #1e496d;
  }
}

/******************** HOME PAGE ********************/

header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../images/classroom.jpg');
  text-align: center;
  color: white;
}

header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}
header .header-content .header-content-inner h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 75px;
  text-shadow: 0px 0px 10px #000;
}
header .header-content .header-content-inner hr {
  margin: 75px auto;
}
header .header-content .header-content-inner p {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  margin-bottom: 50px;
}

.dropdown-center {
  display: inline-block;
}

.about {
  background-color: #fafaf7;
  height: 200px;
  width: 100%;
  border-bottom: 1px double #A9A9A9;
}

.school-list {
  background-color: #f4f4eb;
  height: 200px;
  width: 100%;
  border-bottom: 1px double #A9A9A9;
}

.add-school {
  background-color: #e0e0d1;
  height: 200px;
  width: 100%;
  border-bottom: 1px double #A9A9A9;
}

.add-school-form {
  margin-top: 30px;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  text-align: center;
}

.school-heading {
  text-align: center;
  font-size: 25px;
  font-variant: small-caps;
  text-transform: capitalize;
  font-family: 'Oswald', sans-serif;
  text-shadow: 0px 0px 2px white;
}

.login-reminder {
  width: 500px;
  font-size: 15px;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 25px;
}

/******************** SCHOOL ********************/

.section-one {
  background-color: #f4f4eb;
  width: 100%;
  height: 200px;
  border-bottom: 1px double #A9A9A9;
  border-top: 1px double #A9A9A9;
}

.section-two {
  background-color: #e0e0d1;
  height: auto;
  width: 100%;
  border-bottom: 1px double #A9A9A9;
}

.school-banner {
  width: 100%;
  height: 250px;
  background-image: url('../images/bookshelf.jpeg');
}

.school-name {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 8%;
  font-size: 55px;
  color: white;
  text-shadow: 0px 0px 10px #A9A9A9;
}

.tab-title {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-variant: small-caps;
  letter-spacing: 2px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #1e496d;
}

.tally-box {
  margin: 35px 24px;
  display: inline-block;
  padding: 20px 12px 0px 12px;
  text-align: center;
  width: 130px;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, .6);
}

.tally-number {
  padding-top: 10px;
  padding-left: 80px;
  font-family: 'Arial', sans-serif;
  font-size: 70px;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
}

.tally-text {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  width: 100px;
  height: 100px;
  text-align: right;
  padding-top: 20px;
  display: inline-block;
  vertical-align: top;
}

.add-assault {
  font-family: 'Raleway';
  text-transform: uppercase;
  font-size: 12px;
  padding-bottom: 5px;
}

.add-icon {
  font-size: 40px;
  padding-bottom: 5px;
}

.add-icon:hover {
  color: #337ab7;
  cursor: pointer;
}

.link-header {
  padding-top: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}

/******************** POSTS ********************/

.compose-pencil {
  font-size: 20px;
  padding-left: 3px;
  vertical-align: top;
}

.compose {
  vertical-align: top;
}

.add-post {
  padding-left: 10px;
  margin-top: 30px;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  text-align: center;
}

.search-bar {
  margin-bottom: 20px;
  width: 300px;
}

.post-header {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 3px;
}

.post-author {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 700;
  padding-bottom: 3px;
  padding-left: 20px;
  font-style: italic;
}

.upvote-counter {
  padding-left: 20px;
}

.badge {
  margin-bottom: 4px;
  margin-left: 5px;
}

.arrow {
  padding-right: 2px;
}

.arrow:hover{
  color: #337ab7;
  cursor: pointer;
}

.thumbs-up {
  font-size: 18px;
  padding-right: 3px;
}

.thumbs-up:hover {
  color: #337ab7;
  cursor: pointer;
}

.delete {
  padding-left: 10px;
  font-size: 20px;
}

.delete:hover{
  color: #337ab7;
  cursor: pointer;
}

.post {
  width: 95%;
  padding-left: 20px;
  margin-left: 20px;
  background-color: #f4f4eb;
  border: 1px solid #A9A9A9;
  border-radius: 8px;
  margin-bottom: 10px;
}

.post-expanded {
  width: 95%;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  background-color: #fafaf7;
  opacity: 0.8;
  box-shadow: 5px 5px 5px #888888;
}

.post-title {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  margin-left: 10px;
  padding-top: 5px;
}

.post-title:hover {
  color: #70a1cc;
  cursor: pointer;
}

.post-body {
  font-size: 16.5px;
  padding-top: 5px;
}

.post-body:hover {
  text-decoration: none;
  color: black;
}

.number-comments {
  font-size: 13px;
  padding-left: 10px;
  color: #696969;
}

.number-comments:hover {
  text-decoration: none;
  color: #70a1cc;
  cursor: pointer;
}

.upvotes {
  font-size: 18px;
}

.created {
  font-size: 11;
  font-style: italic;
  padding-left: 10px;
}

.show-comments {
  padding-left: 10px;
  font-size: 25px;
  padding-top: 10px;
}

.comment-author {
  padding-left: 10px;
  font-size: 12px;
  font-style: italic;
}

.add-comment-title {
  font-family: 'Raleway', sans-serif;
  font-variant: small-caps;
  font-size: 20px;
}

.add-comment {
  width: 500px;
  margin: 0 auto;
  padding-bottom: 5px;
}

/******************** LOGIN ********************/
.login-background {
  background-image: url('../images/login.jpeg');
  width: 100%;
  height: 100%;
}

.login-heading {
  text-align: center;
  font-size: 25px;
  font-variant: small-caps;
  text-transform: capitalize;
  font-family: 'Raleway', sans-serif;
  text-shadow: 0px 0px 2px white;
}

.login-form {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  padding-top: 30px;
}

.login-box {
  width: 250px;
  height: 250px;
  background-color: #e0e0d1;
  opacity: 0.8;
  margin: 0 auto;
  border: 1px solid #A9A9A9;
  box-shadow: 10px 10px 5px #888888;
}

/******************** REGISTER ********************/

.register-background {
  background-image: url('../images/register2.jpeg');
  width: 100%;
  height: 100%;
}

.register-heading {
  text-align: center;
  font-size: 25px;
  font-variant: small-caps;
  text-transform: capitalize;
  font-family: 'Raleway', sans-serif;
  text-shadow: 0px 0px 2px white;
}

.register-form {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  padding-top: 30px;
}

.register-box {
  width: 250px;
  height: 250px;
  background-color: #e0e0d1;
  opacity: 0.8;
  margin: 0 auto;
  border: 1px solid #A9A9A9;
  box-shadow: 10px 10px 5px #888888;
}

/******************** CREDITS ********************/

.credits {
  font-size: 14px;
  text-align: center;
  font-weight: 900;
}

.credits hr {
  color: black;
}
